{% extends 'take1.html' %}
{% block title %}Home - Week 09{% endblock %}

{% block content %}
<div class="">
    <div class="d-flex justify-content-around">
      <div class="">
        <img src="{{ url_for('static', filename='IMG/aa.jpg') }}" alt="gambar kucing" style="width:250px; height:200px; border:black solid 1px"></img>    </div>
      <div class="">
        <img src="{{ url_for('static', filename='IMG/bb.jpg') }}" alt="gambar kucing" style="width:250px; height:200px; border:black solid 1px"></img>    </div>
      </div>
    </div>
  </div>
{% endblock %}